h1 {
	color: white;
	vertical-align: middle;
	padding-top: 75px;
	margin: 0px;
	font-size: 275%;
}

h4 {
	margin-top: 15px;
	margin-bottom:8px;
}

body {
	margin: 0px;
}

.main_container {
	margin: 8px;
}

#user {
	color: white;
	margin-right: 5px;
	margin-top: 8px;
	float: right;
	padding-right: 63px;
}

#title {
	text-decoration: none;
	color: white;
}

.header {
	position: relative;
	height: 200px;
    text-align: center;
	background-image: url("http://pic.ucla.edu/~mdavis17/final_project/Thailand.png");
}

.header p {
	right: 100px;
}

.header input {
	right: 5px;
	background-color: #DE1116;
	color: white;
	border-radius: 2px;
	border: solid 2px black;
}

#menu {
	padding: 0px;
	margin: 0px;
}

#menu .menu_item {
	color: white;
	display: inline-block;
	width: 200px;
	text-align: center;
	border: solid 2px black;
	border-radius: 2px;
	font-size: 160%;
}

.#menu a {
	text-decoration: none;
	color: white;
}

#logout {
	position: absolute;
}

#error {
	color: red;
	text-decoration: bold;
}

#progress_bar {
	position: relative;
	width:500px;
	height: 30px;
	border: 2px solid black;
}

#progress_fill {
	left:0%;
	width: 0%;
	height: 100%;
	background-color: green;
}

.log_entry {
	border: 1px solid black;
}

.notes {
	border: 1px solid black;
}